/* login */


.form-container {
    width: 350px;
    min-height: 350px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
  }
  
  .title {
    text-align: center;
    font-family: "Poppins",sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 600;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input-login {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  
  .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
  }
  
  .page-link-label {
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-size: 9px;
    font-weight: 700;
  }
  
  .page-link-label:hover {
    color: #000;
  }
  
  .form-btn {
  
    padding: 10px 15px;
    font-family: "Poppins",sans-serif;
    border-radius: 10px;
    border: 0 !important;
    outline: 0 !important;
    background: #d0021c;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-btn:active {
    box-shadow: none;
  }

  .page-link_form {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #052c65;
    text-decoration-color: #747474;
}

.page-link-label {
    cursor: pointer;
    font-size: 9px;
    font-weight: 700;
}

.form-container a {
    color: #052c65;
    text-decoration-color: #747474;
}