.product__img img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  padding: 15px 0;
}

.buy {
  background: linear-gradient(#f52f32, #e11b1e);
  border: none;
  border-radius: 10px;
  color: #fff;
  flex-direction: column;
  height: 60px;
  width: calc(100% - 50px);
}

.add-product {
  background-color: initial;
  border: 2px solid #e04040;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  white-space: nowrap;
}

.add-product i {
  margin: auto auto;
}

/* /* css phần tăng giảm số lượng mua */



.number-left::before,
.number-right::after {
  background-color: #e11b1e;
}

.number-quantity {

  border-top: 1px solid #e11b1e;
  border-bottom: 1px solid #e11b1e;

}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #e11b1e;
  opacity: 0.8;
}


/* phần store */

.store a {
  color: blue !important;
  text-decoration: underline;
}

.comment__content {
  margin-left: 40px;
}

/* Phần alert */

#custom-alert {
  display: block;
  position: fixed;
  top: 80px;
  right: 50%;
  /*transform: translate(-50%, -50%);*/
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 15px;
  color: #107948;
}