<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Add product</title>
</head>

<body>
    <!-- header -->
    <header th:replace="fragment/header::header"></header>
    <!-- hết phần header -->

    <!-- phần main -->
    <main>
        <div class="container mt-5">
            <div class="row d-flex">
                <div class="tab col-md-2  mt-5">
                    <a href="" class="tablinks">Thống kê</a>
                    <a th:href="@{/admin/product}" class="tablinks active">Quản lý sản phẩm</a>
                    <a th:href="@{/admin/category}" class="tablinks">Quản lý danh mục</a>
                    <a href="" class="tablinks">Quản lý đơn hàng</a>
                    <a th:href="@{/admin/user}" class="tablinks">Quản lý khách hàng</a>
                    <a th:href="@{/admin/managerComment}" class="tablinks">Quản lý bình luận</a>
                    <a href="" class="tablinks">Danh sách đơn hàng</a>
                </div>
                <div class="col-md-10">
                    <div id="dashboard" class="tabcontent">
                        <h3>Sửa sản phẩm</h3>
                        <form class="form" method="POST" th:action="@{/admin/product/edit}" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${productOld.id}">
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" id="productNameInput" placeholder="Tên sản phẩm" name="productName" th:value="${productOld.productName}">
                                    <p th:if="${productName}" th:text="${productName}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <select class="form-select" aria-label="Default select example" name="categoryId">
                                        <option>Danh mục</option>
                                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${productOld.category.getId() == category.id}" ></option>
                                    </select>
                                    <p th:if="${categoryId}" th:text="${categoryId}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="number" class="form-control" placeholder="Số lượng" name="quantityInStock" th:value="${productOld.quantityInStock}">
                                    <p th:if="${quantityInStock}" th:text="${quantityInStock}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Màu sắc" name="color" th:value="${productOld.color}">
                                    <p th:if="${color}" th:text="${color}" class="text-danger"></p>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <textarea name="description" id="" class="form-control" rows="3" placeholder="Mô tả" th:field="*{productOld.description}"></textarea>
                                    <p th:if="${description}" th:text="${description}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="number" class="form-control" placeholder="Giá" name="price" th:value="${productOld.price}">
                                    <p th:if="${price}" th:text="${price}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Kích thước màn hình" name="screenSize" th:value="${productOld.screenSize}" >
                                    <p th:if="${screenSize}" th:text="${screenSize}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Bộ nhớ" name="storage" th:value="${productOld.storage}">
                                    <p th:if="${storage}" th:text="${storage}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Dung lượng ram" name="ram" th:value="${productOld.ram}">
                                    <p th:if="${ram}" th:text="${ram}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Pin" name="battery" th:value="${productOld.battery}">
                                    <p th:if="${battery}" th:text="${battery}" class="text-danger"></p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Chip" name="chip" th:value="${productOld.chip}" >
                                    <p th:if="${chip}" th:text="${chip}" class="text-danger"></p>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <input type="file" class="form-control" placeholder="Ảnh demo" name="pathFile" id="demo_image" onchange="previewImage()">
                                    <p th:if="${file}" th:text="${file}" class="text-danger"></p>
                                </div>
                                <div class="col-md-12 mt-3" id="image_container" style="display: none;">
                                    <img src="" id="preview" style="max-width: 100%; max-height: 200px;" alt="Ảnh demo">
                                </div>
                                <button class="form-btn mt-3 col-md-12" type="submit">Cập nhật</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- hết phần main -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script>
    function previewImage() {
        var preview = document.getElementById('preview');
        var file = document.getElementById('demo_image').files[0];
        var imageContainer = document.getElementById('image_container');

        if (file) {
            var reader = new FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
            }
            reader.readAsDataURL(file);
            imageContainer.style.display = 'block';
        } else {
            preview.src = "";
            imageContainer.style.display = 'none';
        }
    }

</script>

</html>