<footer class="footer bg-white mt-4" xmlns:th="http://www.thymeleaf.org" th:fragment="footerClient">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h6 class="fw-bold">Địa chỉ</h6>
                <p class=" fs-15">123 Trâu Quỳ, Gia Lâm, Hà Nội</p>
                <h6 class=" fw-medium fs-15 mt-4">Gọi mua hàng: 0912.345.678</h6>
                <h6 class=" fw-medium fs-15 mt-4">Kết nối với chúng tôi</h6>
                <div class="icon-contact"><a class="" href=""><i class="color-blue fa-brands fa-facebook"></i></a> <a
                        href=""><i class="color-red fa-brands fa-youtube"></i></a></div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h6 class="mb-3 mt-sm-0 mt-5 fw-bold">Thông tin & chính sách</h6>
                <ul class="list-unstyled footer-list">
                    <li class="py-2"><a class="fs-15" href="#"> Về chúng tôi</a></li>
                    <li class="py-2"><a class="fs-15" href="#"> Liên hệ</a></li>
                    <li class="py-2"><a class="fs-15" th:href="@{/warrantyPolicy}"> Chính sách bảo hành</a></li>
                    <li class="py-2"><a class="fs-15" href="#"> Thông tin mua hàng</a></li>
                </ul>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="card rounded border-0 mt-sm-0">
                    <div class="map rounded">
                        <a href="#"
                           class="btn btn-light text-dark position-absolute top-50 start-50 translate-middle map-btn">View
                            Map</a>
                        <div class="bg-overlay rounded position-absolute top-0 right-0 bottom-0 left-0"></div>
                        <iframe class="rounded"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.690044441741!2d105.92918937467175!3d21.005058288593286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a94c1f882977%3A0x6d016e6656923f46!2zSOG7jWMgdmnhu4duIE7DtG5nIE5naGnhu4dwIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1697252769542!5m2!1svi!2s"
                                width="100%" height="230" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>